<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    /* font style */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

    /* common styles */
    html,
    body {
        margin: 0;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
    }

    ul {
        margin: 0 0 20px 15px;
        padding: 0;
        list-style-type: disc;
    }

    a {
        color: #0552B5;
        text-decoration: none;
    }

    p {
        margin-top: 0;
    }


    @media only screen and (max-width: 480px) {
        .text_left_mobile {
            text-align: left !important;
        }

        ._title {
            font-size: 18px !important;
            line-height: 26px !important;
        }
    }
</style>

<table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#D3D3D3">
    <tbody>
        <tr>
            <td style="padding:0; margin:0;" valign="top" align="center" width="100%" class="text_left_mobile">
                <table
                    style="max-width:800px;box-shadow: 0px 3px 2px rgba(255, 139, 91, 0.09), 1px 2px 19px rgba(0, 0, 0, 0.05);"
                    border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#D3D3D3">
                    <tbody>
                        <tr>
                            <td style="padding:8% 8% 10px 8%;text-align:center;" valign="middle" width="100%"
                                class="text_left_mobile">
                                <a href="#">
                                    <img src="https://investin-api.javatimescaffe.com/upload/logo.png"
                                        alt="Java Times Caffe" width="164">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:10px 8% 20px 8%;text-align:center;" valign="middle" width="100%"
                                class="text_left_mobile">
                                <h4 style="font-family:Poppins,Arial,Helvetica,sans-serif;font-size:24px;line-height:36px;font-weight:600;color:red;margin:0;"
                                    class="_title">
                                    Welcome To Java Times Caffe</h4>
                            </td>
                            
                        </tr>
                        <tr>
                            <td style="padding:10px 8% 15px 8%;font-family:Poppins,Arial,Helvetica,sans-serif;font-size:14px;line-height:20px;font-weight:400;color:#000000;"
                                valign="middle" width="100%">
                                <p>¡Hola <%=name%> !</p>
                                <p>¡Estamos encantados de darle la bienvenida a la comunidad de usuarios de JavaTimesCaffe! Apreciamos mucho su dedicación para brindar excelencia y estamos muy contentos de tenerlo a bordo. Le escribimos para informarle que su cuenta de usuario se verificó con éxito y se generaron sus credenciales para acceder sin problemas a nuestra aplicación de usuario y sitio web de recaudación de fondos.fondos.</p><br />

                                <p>Sus credenciales de inicio de sesión para Rider App y Fundraiser Javatimescaffe</p><br />

                                <p>Credenciales de acceso</p>
                                <p>Tu dirección de correo electrónico es: <%=email%>
                                </p>
                                <p>Tu contraseña es: <%=password%>
                                </p><br />
                                <p>Mantenga sus credenciales de inicio de sesión seguras y confidenciales para garantizar la seguridad de su cuenta.</p><br />
                                <h4>Aplicación para ciclistas:</h4><br />
                                <p>Nuestra aplicación Rider es su herramienta de referencia para administrar pedidos, optimizar rutas y brindando un servicio de primer nivel a nuestros valiosos clientes. Navegue sin problemas sus tareas de ciclista y disfrute de una experiencia fácil de usar.</p><br />
                                <h4>Sitio web de recaudación de fondos:<a href="https://investin.javatimescaffe.com/sp/login" style="color: red;">Fundraiser</a></h4><br />
                                <p> Como miembro de la comunidad de usuarios de JavaTimesCaffe, ahora tiene acceso a nuestro
                                    Sitio web exclusivo para recaudar fondos. Esta plataforma le ofrece la oportunidad de invertir en
                                    nuestra franquicia de café mediante la compra de acciones. Es una manera emocionante de ser parte de nuestro
                                    historia de crecimiento mientras cosecha los beneficios de su inversión.</p><br />

                                <p>Estaremos en contacto muy pronto para cualquier consulta o ayuda que necesite.</p><br />
                                <p>Saludos cordiales</p>
                                <p>Antonio Leite</p>
                                <p>Startup Networks Sapi de CV</p><br /><br />
                            </td>

                        </tr>
                        <tr>

                        </tr>
                        <tr>
                            <td style="padding:25px 8%;font-family:Poppins,Arial,Helvetica,sans-serif;font-size:14px;line-height:20px;font-weight:400;color:#486581;"
                                valign="middle" width="100%">
                                <p>Please do not reply to this automatically generated e-mail message, for information
                                    please visit <a href="https://investin.javatimescaffe.com/"
                                        style="color:#0552b5;text-decoration:none;">https://investin.javatimescaffe.com/</a>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:25px 8%;">
                                <div style="height:1px;background-color:#BCCCDC;">&nbsp;</div>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td style="padding:15px 8%;font-family:Poppins,Arial,Helvetica,sans-serif;font-size:14px;line-height:20px;font-weight:400;text-align:center;" valign="middle" width="100%" class="text_left_mobile">
                                <a href="https://mybricksfinance.com/faqs/" style="color:#0552b5;text-decoration:none;font-family:Poppins,Arial,Helvetica,sans-serif;font-size:14px;line-height:20px;font-weight:500;text-transform:uppercase;display:inline-block;margin:5px 30px 5px 0;">HELP CENTRE</a>
                                <a href="https://discord.com/invite/2Wm6Z9sp5v" style="color:#0552b5;text-decoration:none;font-family:Poppins,Arial,Helvetica,sans-serif;font-size:14px;line-height:20px;font-weight:500;text-transform:uppercase;display:inline-block;margin:5px 30px 5px 0;">COMMUNITY</a>
                                <a href="https://www.youtube.com/channel/UCSy6_IckShnzQjfJw5Xh9qQ/featured" style="color:#0552b5;text-decoration:none;font-family:Poppins,Arial,Helvetica,sans-serif;font-size:14px;line-height:20px;font-weight:500;text-transform:uppercase;display:inline-block;margin:5px 30px 5px 0;">YOUTUBE</a>
                            </td>
                        </tr> -->
                        <tr>
                            <td style="padding:15px 8% 30px;font-family:Poppins,Arial,Helvetica,sans-serif;font-size:14px;line-height:20px;font-weight:400;color:#334E68;text-align:center;"
                                valign="middle" width="100%" class="text_left_mobile">
                                <p> <b>© 2023 investin.javatimescaffe.com, All Rights Reserved.</b></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>